.btn-style {
    background-color: white;
    border-width: 2px;
    border-color: black;
    width: 30px;
    height: 30px;
}

.is-active {
    background-color: black;
    color: white;
    border-color: black;
    width: 30px;
    height: 30px;
}

.img {
    width: 100%;
}

.yt-player {
    border: transparent;
    width: 100%;
}