
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.editor-container {
    width: 55vw;
    max-width: 50%;
    min-width: 550px;
    margin: 0px;
    padding: 2rem;
    min-height: 120vh;
    border-radius: 5px;
}

.editor-other-info {
    width: 180px;
}


.img {
    width: 100%;
}

.yt-player {
    border: transparent;
    width: 100%;
}

