.tools-container {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    gap: 10px;
    background-color: #e0e0e0;
}
